<p>profile works!</p>
<div class="row">
    <div class="column">
        <h3>Welcome {{user}}!</h3>
        <p class="tab"> "From this page you can create your very own game library so you never forget what games you have! 

            You can also create a game event with selections from your game library so all your friends can join in on the fun! You can also “JOIN” other user’s already created events!"
            
            </p>
    </div>
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
  </div>