<img class="bannerImage" src="../assets/HomePageGraphic-thinner.jpg "  alt="MatchPoint App" style="width:1200 px" >
<article class="d-flex flex-column justify-content-around">

  <div id="landing" class="d-flex flex-column justify-content-center">
    <div class="container col-sm-8 ">
      <h2><em>– Life is not a single-player game</em></h2>
      <p>A web application designed to connect gameboard players and faciliate game meetups!</p>
    </div>
    <section class="card shadow container d-flex flex-row p-3 col-sm-6 mt-5">
      <div class="card-body">
        <h4 class="card-title">About</h4>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
      </div>
      <img class="img-thumbnail img-fluid"
        src="https://media.istockphoto.com/vectors/thumbnail-image-vector-graphic-vector-id1147544807?k=20&m=1147544807&s=612x612&w=0&h=pBhz1dkwsCMq37Udtp9sfxbjaMl27JUapoyYpQm0anc="
        alt="">
      <a routerLink="/sign-up" class="stretched-link"></a>
    </section>
  </div>

  <section class="card shadow container d-flex flex-row-reverse p-3 col-sm-6">
    <div class="card-body mx-3">
      <h4 class="card-title">Games</h4>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
    </div>
    <img class="img-thumbnail img-fluid"
      src="https://media.istockphoto.com/vectors/thumbnail-image-vector-graphic-vector-id1147544807?k=20&m=1147544807&s=612x612&w=0&h=pBhz1dkwsCMq37Udtp9sfxbjaMl27JUapoyYpQm0anc="
      alt="">
    <a routerLink="/games" class="stretched-link"></a>
  </section>

  <section class="card shadow container d-flex flex-row p-3 col-sm-6 my-5">
    <div class="card-body d-flex flex-column">
      <h4 class="card-title">Events</h4>
      <p class="card-text">Cumque mollitia sapiente natus voluptatum.</p>
    </div>
    <img class="img-thumbnail img-fluid"
      src="https://media.istockphoto.com/vectors/thumbnail-image-vector-graphic-vector-id1147544807?k=20&m=1147544807&s=612x612&w=0&h=pBhz1dkwsCMq37Udtp9sfxbjaMl27JUapoyYpQm0anc="
      alt="">
    <a routerLink="/events" class="stretched-link"></a>
  </section>

</article>