<!--The content below is only a placeholder and can be replaced.-->
<!-- <h1>{{title}}</h1>
<p>Hello {{userInSession}}</p> -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<nav class="navbar navbar-expand-sm navbar-light bg-light ">
  <ul class=" nav navbar-nav ">
    <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/games">Games</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/events">Events</a></li>
    <li class="nav-item">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form></li>
    <li class="nav-item sign-up navbar-right"><a class="nav-link navbar-right" routerLink="/sign-up">Sign Up</a></li>
  </ul>
  
  
  
</nav>

<router-outlet></router-outlet>
