div {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  overflow-x:scroll
}

table.games {
  border-collapse: collapse;
  table-layout: auto;
  width: 100%;
  border: 3px solid;
}

th {
  background-color: rgb(237, 110, 220);
  color: white;
  text-align: center;
  border-bottom: 5px solid black;
  /* border: 1px solid; */
}

td {
  text-align: center;
  border: 1px solid;
}

.contain {
  object-fit: contain;
}

.input {
  width: 60px;
}

table.filter{
  /* border-collapse: collapse; */
  border: hidden;
  width: auto; 
  margin-left: auto;
  margin-right: auto;
}

/* tr.filter{
  border: 1px solid blue;
} */

/* .table tr:hover {
  background-color: rgb(237, 192, 110);
} */
/* tr:nth-child(even) {background-color: #f2f2f2;} */