<div style="text-align:left;width:1200px;">
    <h1>
       
        {{title}}

    </h1>

    <table class="filter"> 
        <tr class="filter">
            <td><label for="minPlayers">Minimum Players:</label></td>
            <td><input #minPlayers (click)='true' type="number" min = "1" value="1" class="input"/></td>
            <td><label for="maxPlayers">Maximum Players:</label></td> 
            <td><input #maxPlayers (click)='true' type="number" min="1" value="8" class="input"/></td>
            <td><label for="minPlaytime">Minimum Playtime:</label></td>
            <td><input #minPlaytime (click)='true' type="number" min = "5" value="15" class="input" step="5"/></td>
            <td><label for="maxPlaytime">Maximum Playtime:</label></td>
            <td><input #maxPlaytime (click)='true' type="number" min = "5" value="180" class="input" step="5"/></td>
        </tr> 
    </table>

    <br>

    <table class = "games" *ngIf="Games">
        <col style="width:20%">
	    <col style="width:40%">
	    <col style="width:8%">
        <col style="width:8%">
        <col style="width:8%">
        <col style="width:8%">
        <col *ngIf = "isLoggedIn" style="width:8%">
        <!-- ADD HEADERS  -->
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Min Players</th>
            <th>Max Players</th>
            <th>Min Playtime</th>
            <th>Max Playtime</th>
            <th *ngIf = "isLoggedIn">Library</th>
        </tr> 
    </thead>
    <tbody>

        <tr *ngFor="let game of Games">
        <ng-container *ngIf="game.minPlayers >= minPlayers.value && game.maxPlayers <= maxPlayers.value && game.minPlaytime >= minPlaytime.value && game.maxPlaytime <= maxPlaytime.value">
            <td> <img class = "contain" src = "{{game.gameImage}}" width = "200" height="200"> <p>{{game.gameName}}</p></td>
            <td>{{game.description}}</td>
            <td>{{game.minPlayers}}</td>
            <td>{{game.maxPlayers}}</td>
            <td>{{game.minPlaytime}}</td>
            <td>{{game.maxPlaytime}}</td>
            <ng-container *ngIf = "isLoggedIn">
            <td><button type="button" (click)="toggleEvent(game)"> {{isSaved(game) ? "Delete from Library" : "Add to Library"}} </button></td>
            </ng-container>
            <!-- <td><button type="button" *ngIf = "isSaved(game); else deleteFromLibrary" (click)="addToLibrary(game)">Add to Library</button></td> -->
            </ng-container>    
        </tr>
    </tbody>
    </table> 
</div>

<!-- <ng-template #deleteFromLibrary>
    <td><button type="button" (click)="deleteFromLibrary(game)">Delete from Library</button></td>
 </ng-template> -->
